{% extends "game/base.html" %}
{% load static %}
{% block content %}

    <div class="d-flex flex-column bd-highlight mb-3 bg-dark rounded">
        <img src="{{ user.profile.image.url }}" class="rounded-circle profile-img align-self-center">
        <!-- {% if request.user.id == user.id %}
            <button type="button" class="ms-auto align-self-center btn btn-primary btn-sm">change profile</button>
        {% endif %} -->
        {% if user.is_superuser %}
            <h2 class="align-self-center text-danger text-uppercase my-3">{{ user.username }}</h2>
        {% else %}
            <h2 class="align-self-center my-3">{{ user.username }}</h2>
        {% endif %}

        {% if user.email != "" %}
            <p class="text-start lh-lg px-2 align-self-center">email: {{ user.email }}</p>
        {% endif %}
    </div>

    <div class="container-md">
        <div class="row">
            <!-- <div class="col text-start bg-dark rounded me-1">
                <h2>Posts:</h2>
                {% for post in posts %}
                    <p>{{ post.title }}</p>
                {% endfor %}
            </div> -->
            <div class="col text-start bg-dark rounded ms-1">
                <div class="d-flex p-2 bd-highlight align-self-center">
                    <h2>Characters:</h2>
                    <!-- {% if request.user.id == user.id %}
                        <button type="button" class="ms-auto align-self-center btn btn-primary btn-sm">add character</button>
                    {% endif %} -->
                </div>
                    <script>
                        let character, path, img, n = 0
                    </script>
                    {% for character in characters %}
                        {% if character.name != "" %}
                        <div class="d-flex bg-secondary p-2 my-3 rounded">
                            <img src="" class="rounded-circle article-img align-self-center" id="{{ character.name }}">
                            <script>
                                img = this.document.getElementById('{{ character.name }}')
                                '{% with character.texture as name %}'
                                '{% with "game/assets/Actor/Characters/"|add:name|add:"/Faceset.png" as image_path %}'
                                        img.src = '{% static image_path %}'.replace(/&amp;/g, "&")
                                    '{% endwith %}'
                                '{% endwith %}'
                            </script>
                            <p class="p-3 my-auto text-info">{{ character.name }} </p>
                            <!-- <ul>
                                <il>{{ character.strength }}</il>
                                <il>{{ character.agility }}</il>
                                <il>{{ character.attack }}</il>
                                <il>{{ character.defense }}</il>
                            </ul> -->
                        </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>


{% endblock content %}